@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  @apply font-sans bg-gray-100; /* Ganti dengan kelas Tailwind */
  font-family: "Poppins", sans-serif;
}

.box-nav {
  @apply bg-[#26355D] h-[10vh] w-[75%];
}

.text-navbar {
  @apply text-white text-[1.1rem] cursor-pointer;
}

.text-back {
  @apply text-2xl font-bold text-black cursor-pointer;
}

.text-jdl {
  @apply text-xl font-bold;
}

.text-navbar:hover {
  @apply text-[#D0DCE7];
}

.text-back:hover {
  @apply text-white;
}

.card {
  @apply w-[80%] bg-[#E2DFD0] mb-4 p-4 rounded-lg; /* Ganti dengan kelas Tailwind */
}

.card-login {
  @apply w-[35rem] h-[80vh];
}

.card-register {
  @apply w-[50rem] h-[80vh];
}

.card-todo {
  @apply w-[45rem];
}

.card-detail {
  @apply w-[45rem] h-[25vh];
}

.desc {
  @apply w-[30rem] border border-gray-400;
}

.btn-green {
  @apply text-white text-[1rem] font-semibold bg-[#41B06E] px-5 py-1 rounded-lg;
}

.btn-lg-blue {
  @apply text-white text-[1rem] font-semibold bg-[#1679AB] px-5 py-1 rounded-lg;
}

.btn-green:hover {
  @apply bg-[#90D26D];
}

.btn-lg-blue:hover {
  @apply bg-[#4793AF];
}

.password-container {
  position: relative;
}

.img-password {
  position: absolute;
}

.inp {
  @apply w-[30rem];
}

/* Responsivitas */
@media (max-width: 768px) {
  .box-nav {
    @apply w-full; /* Mengubah lebar menjadi 100% di layar kecil */
  }

  .card,
  .card-login,
  .card-register,
  .card-todo,
  .card-detail {
    @apply w-full; /* Mengubah lebar menjadi 100% di layar kecil */
  }

  .inp {
    @apply w-full; /* Mengubah lebar input menjadi 100% di layar kecil */
  }
}
